<!-- <app-slider></app-slider> -->

<app-hero></app-hero>
<br>
<app-services></app-services>
<br>


<!-- <div class="jumbotron text-center">
  <h1 class="display-4">Welcome to ERC</h1>
  <p class="lead">Your trusted partner in education and research consulting.</p>
  <a class="btn btn-primary btn-lg" routerLink="/services" role="button">Explore Our Services</a>
</div> -->


<!-- <div class="services-container mt-5 py-5 bg-light"> -->

<div class="service-card">
  <!-- <div class="service-number">3</div> -->
  <p class="service-title"><strong>Legal Consultancy Statement</strong></p>
  <p class="service-description">
    At <strong>Academic Professional Network</strong>, our principal line of business is to provide comprehensive
    consultancy services, research, and development to a diverse range of clients, including governments, donors,
    international institutions, individuals, firms, companies, trusts, non-government organizations, and associations.
    We specialize in offering expert legal consultancy, including but not limited to legal drafting, contract
    drafting, compliance, consumer protection and ADR services. Our team of highly skilled professionals is dedicated
    to delivering tailored solutions that meet the unique needs of each client, ensuring legal and regulatory
    compliance across various sectors.
  </p>
</div>

<div class="service-card">
  <!-- <div class="service-number">3</div> -->
  <p class="service-title"><strong>Research Journal</strong></p>
  <p class="service-description">
    The <strong>Applied and Social Sciences Research Journal</strong> is an international peer-reviewed bi-annual
    academic journal, providing the best platform for researchers and scholars worldwide to share the latest findings.
    Authors are encouraged to submit complete, unpublished, original, and innovative works in all social science fields.
    Additionally, the journal is equipped with professionals who can provide technical advice, testing, and
    evidence-based recommendations related to research.
  </p>
</div>

<app-about></app-about>
<!-- </div> -->