<div class="hero-container">
    <div class="hero-content">
        <h2>Welcome to <strong>Academic Professional Network</strong></h2>
        <p>
            A premier consultancy firm dedicated to delivering top-notch consultancy services, research, and development
            solutions.
            Our mission is to empower governments, donors, international institutions, individuals, firms, companies,
            trusts,
            non-government organizations, and associations with strategic insights and innovative solutions.
        </p>
        <!-- <p>At <strong>Academic Professional Network</strong>, we specialize in a wide range of consultancy services, including:</p> -->

        <p>At <strong>Academic Professional Network</strong>, we specialize in a wide range of consultancy services.</p>
        <div class="hero-buttons">
        <button class="start-free">Request consultancy</button>
        <!-- <button class="pay-as-you-go">Pay as you go</button> -->
      </div>
        <!-- <div class="hero-image"> 
            <img src="assets/images/background-image.jpg" alt="Laptop displaying Azure services" />
        </div> -->
    </div>
</div>