body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

header {
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #343a40;
}

header nav {
  padding: 1rem 2rem;
}

header nav a {
  color: #fff;
  margin-right: 1.5rem;
  font-weight: 500;
}

header nav a:hover {
  color: #f8d71e;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 2rem 0;
}

footer p {
  margin: 0;
}


@media (max-width: 768px) {
  .jumbotron h1 {
    font-size: 2.5rem;
  }

  header nav a {
    font-size: 0.9rem;
  }
}


// Background color
//   Background color
body {
  // background: linear-gradient(135deg, #f0f0f0 0%, #d9d9d9 100%);
  // background: linear-gradient(135deg, #e1d7d7, #a4a1a1);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  color: #333;
}

main {
  background-color: rgba(255, 255, 255, 0.9); /* Light background to make content stand out */
  border-radius: 8px;
  // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 50px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
